@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
$fuente: 'Montserrat';
$rojo: crimson;
$blanco: white;
$centrar: center;
$borde-curvo: 10px;
$margen: 10vh