@import "../variables/variables.scss";
@import "../sass2/mixins";

.carta_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .carta {
        background: rgb(220, 20, 60);
        width: 500px;
        height: auto;
        border-radius: 10px;
        margin: 20px;
        background: $rojo;
        &:hover{
            box-shadow:
            1px 1px 3.7px rgba(225, 30, 30, 0.084),
            2.4px 2.3px 8.8px rgba(225, 30, 30, 0.088),
            4.5px 4.4px 16.5px rgba(225, 30, 30, 0.36),
            8px 7.8px 29.5px rgba(255, 30, 30, 0.072),
            15px 14.6px 55.1px rgba(255, 30, 30, 0.26),
            36px 35px 132px rgba(225, 30, 30, 0.22);
        transform: scale(103%);
        transition: ease-in-out .2s;
        }
        .carta-img {
            background-color: chartreuse;
            border-radius: 10px;
            width: 23em;
            height: 23em;
            margin: 1em;
            justify-content: center;
            .carta-img-1 {
                background-image: url(../assets/guenther-steiner-team-principa-1.jpg);
            }
            .carta-img-2 {
                background-image: url(../assets/perfil-kevin-magnussen-2022-soymotor.png);
            }
            .carta-img-3 {
                background-image: url(../assets/mick-schumacher-2021-soymotor.jpg);
            }
        }
        .carta-title {
            color: white;
            font:{ 
            family: $fuente;
            weight: bold;
            size: 22px;
            }
            text-align: center;
            margin-bottom: 20px;
        }
        .carta-h5 {
            color: white;
            margin-left: 15px;
            font:{ 
            size: 1.125em;
            weight: bold;
            }
        }
        .teamcarta-p {
            margin: 10px;
            font-size: 1em;
            color: white;
            height: auto;
            width: auto;
        }
    }
}
